$main-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-accent-red: #FB3B64;
$color-accent-green: #55DFB4;
